.home {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-text h1 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--primary-color);
}

.intro-text p {
  font-size: 1.2rem;
  margin: 10px 0;
  max-width: 600px;
}

.intro-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-text {
  width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.welcome-text h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  background: linear-gradient(45deg, #f3ec78, var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whoami-preview {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 15px var(--box-background-color);
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: center;
}

.whoamih1 {
  margin: 0;
  font-size: 2rem;
  color: var(--primary-color);
  border-right: 0.15em solid orange;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.75s step-end infinite;
}

.whoami-preview h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.whoami-text {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

.project-route {
  color: var(--light-font);
}

.about-preview {
  background: var(--box-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--box-background-color);
  margin-top: 20px;
  max-width: 800px;
  text-align: center;
}

.about-preview h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.about-preview p {
  font-size: 1rem;
  margin: 10px 0;
}

.btn {
  background-color: var(--link-color);
  color: var(--light-font);
  padding: 10px 20px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  margin-top: 30px;
}

.btn:hover {
  background-color: var(--link-hover);
  transform: scale(1.05);
}

.text-animation h1 {
  margin: 0;
  font-size: 2em;
  color: var(--primary-color);
  border-right: 0.15em solid orange;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }

  100% {
    border-color: transparent;
  }
}